:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
}

@font-face {
    font-family: 'Outfit';
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Young Serif';
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--eggshell);
    font-family: outfit;
    color: var(--wenge-brown);
}

main {
    background-color: var(--white);
    max-width: 45rem;
    width: 100%;
    margin: 0rem auto;
    padding-bottom: .5rem;
}

section, header {
    margin: 2.5rem;
    }

#recipe-img {
    width: 100%;
}

header h1 {
    font-family: young serif;
    font-weight: 400;
    font-size: 2.3rem;
    color:var(--dark-charcoal);
}

.intro {
    font-size: 1rem;
}


h2 {
    font-family: 'young serif';
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--nutmeg);
}


.prep-info {
    background-color: var(--rose-white);
    border-radius: .6rem;
    padding: .5rem 2rem;
    width: 100%;
    margin: auto;
}

.prep-info h2 {
    color: var(--dark-raspberry);
    font-size: 1.2rem;
    font-family: outfit;
    font-weight: 700;
}

 ul {
    padding-left: 1.5em;
}

 li {
    line-height: 2;
    padding-left: 1rem;
}

.prep-info li::marker {
    color: var(--dark-raspberry)
}

.ingredients, .instructions {
    border-bottom: 1px solid var(--light-grey);
    padding-bottom:.5rem;
}

.instructions ol {
    padding-left: 1.5rem;
}

.instructions li {
    line-height: 1.8;
}

.instructions li::marker, .ingredients li::marker {
    color: var(--nutmeg);
}

.instructions li::marker {
    font-weight: 800;
}

table {
 width: 100%;  
 border-collapse: collapse; 
}

tr {
    line-height: 2.5;
    border-bottom: 1px solid var(--light-grey);
}

tr:last-of-type {
    border-bottom: none;
}

th {
    text-align: left;
    padding-left: 2rem;
    font-weight: 400;
}

td {
    font-weight: 700;
    color: var(--nutmeg);
}

footer {
    padding: 1.5rem;
}

.attribution a {
    color:var(--dark-raspberry)
}

@media screen and (min-width: 500px) {
  body {
    padding-inline: 1rem;
  }

  main {
    margin: 6rem auto;
    border-radius:  1.2rem;
  }

  #recipe-img {
    border-radius: .6rem;
    padding:2.5rem 2.5rem 0;
  }
}